

.heading{
    display: flex;
    justify-content:left;
    align-items: baseline;
}

.progressBar{
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardsWrapper{
    margin-top: 30px;
}